*{
  background-color: #fff;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
}

.ironbeers{
  background-color: #3cc4fc;
  margin: 0%;
  padding: 1.8vh;
  color: #fff;
  margin-bottom: 2vh;
}
/*-----Home-----*/
.homeImg {
  width: 46vh;
}
.textHome {
  text-decoration: none;
  color:#282c34;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 3px;
}
.title {
  margin: 1px 15px;
  color:#282c34;
  text-align: left;
}
.content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height:100vh;
  width: 46vh;
}
/*----Beers----*/
.beerImg{
  height: 15vh;
}
.beerCardImg{
  width: 46vh;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
margin-left: 50px;
}
.details{
width: 25vh;
text-align: left;
margin-right: 50px;
gap: 5px;
color: #282c34;
}
.details p {
  font-size: small;
}
/*----form----*/
.inputs-general{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.input-box{
  border-radius: 2vh;
  width: 25vh;
  height: 2.8vh;
}
textarea{
  border-radius: 2vh;
  border-style: groove;
  width: 25vh;
  height: 5vh;
}
div label{
  font-weight: bold;
}

div input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
div textarea{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.buttonForm {
  background-color: #3cc4fc;
  width: 15vh;
  border-radius: 2vh;
  height: 5vh;
  font-weight: bold;

}



